.exchanges {
    margin: 2rem 0 6rem;
}

.exchanges__wrapper {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

    margin-top: 5rem;
}

.exchanges__item {
    display: flex;

    &:nth-child(1),
    &:nth-child(2){
        margin-bottom: 8rem;
    }
}
.exchanges__img {
    width: 14rem;

    margin-right: 5.5rem;
}

.exchanges__text {
    display: flex;
    align-items: center;
    width: 33rem;

    font-size: 1.6rem;
    line-height: 1.8rem;
}